In [32]:
#Dependencies
import pandas as pd
from pathlib import Path

In [33]:
#Load in files
schools_data_load = Path("Resources/schools_complete.csv")
student_data_load = Path("Resources/students_complete.csv")

#Read and display the csv with Pandas
school_data = pd.read_csv(schools_data_load)
student_data = pd.read_csv(student_data_load)

In [34]:
#Combine data sets into one data set
school_data_complete = pd.merge(student_data, school_data, how="left", on =["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [35]:
#Calculate Total number of unique schools
school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [36]:
# Calculate the total student count per school
per_school_counts = school_data_complete["student_name"].count()
per_school_counts

39170

In [37]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [38]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [39]:
# Calculate the average (mean) reading score
average_reading_score = student_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [40]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[school_data_complete["math_score"] >= 70]["student_name"].count()
passing_math_percentage = passing_math_count / school_data_complete["student_name"].count() * 100
passing_math_percentage

74.9808526933878

In [41]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count =  school_data_complete[school_data_complete["reading_score"] >= 70]["student_name"].count()
passing_reading_percentage = passing_reading_count / school_data_complete["student_name"].count() * 100
passing_reading_percentage

85.80546336482001

In [42]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[(school_data_complete["math_score"] >=70) & (school_data_complete["reading_score"] >=70)]["student_name"].count()
overall_passing_rate = passing_math_reading_count / school_data_complete["student_name"].count() * 100
overall_passing_rate

65.17232575950983

In [45]:
# Create a high-level snapshot of the district's key metrics in a DataFrame


# Create a dictionary to hold the summary statistics
district_summary_dict = {
    "Total Schools": [school_count],
    "Total Students": [per_school_counts],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [passing_math_percentage],
    "% Passing Reading": [passing_reading_percentage],
    "% Overall Passing": [overall_passing_rate]
}
    
# Create a DataFrame from the dictionary
district_summary = pd.DataFrame(district_summary_dict)

#formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
    
# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [46]:
# Use the code provided to select all of the school types dist
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [47]:
# Calculate the total student count per school
per_school_counts = school_data.groupby("school_name")["size"].sum()
print(per_school_counts)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: size, dtype: int64

In [48]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data[['school_name', 'budget']].set_index('school_name')
per_school_counts = school_data_complete['school_name'].value_counts()
per_student_budget = per_school_budget['budget'] / per_school_counts
per_student_budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [65]:
#Calculate the average test scores per school
per_school_math = school_data_complete.groupby(['school_name'])['math_score'].mean()
per_school_reading = school_data_complete.groupby(['school_name'])['reading_score'].mean()

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [66]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()

In [67]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()

In [68]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(['school_name']).size()

In [74]:
# Use the provided code to calculate the passing rates
school_students_passing_math = school_data_complete[(school_data_complete["math_score"] >=70)].groupby("school_name")["student_name"].count()
per_school_passing_math = school_students_passing_math / per_school_counts * 100

school_students_passing_reading = school_data_complete[(school_data_complete["reading_score"] >=70)].groupby("school_name")["student_name"].count()
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100

school_students_passing_math_and_reading = school_data_complete[(school_data_complete["math_score"] >=70) & (school_data_complete["reading_score"] >=70)].groupby("school_name")["student_name"].count()
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100
per_school_passing_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: student_name, dtype: float64

In [75]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.

#Calculate per student budget
#per_student_budget = total_budget / student_count



per_school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_capita ,
    "Per Student Budget": per_student_budget,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": overall_passing_rate
})

# Formatting
#per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
#per_school_summary["Per Student Budget"] = per_student_budget["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,628.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,582.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,639.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,644.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,625.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,652.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,581.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,655.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,609.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,637.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,638.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,578.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,583.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [76]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values("% Overall Passing", ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,582.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,638.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,625.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,578.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,609.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [78]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values("% Overall Passing", ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,637.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,639.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,655.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,652.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [82]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby("school_name").mean
tenth_grader_math_scores = tenth_graders.groupby("school_name").mean
eleventh_grader_math_scores = eleventh_graders.groupby("school_name").mean
twelfth_grader_math_scores = twelth_graders.groupby("school_name").mean

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = 

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

SyntaxError: invalid syntax (2588774011.py, line 14)